
.container{
    display: flex;
    justify-content: center;
}

li{
    font-size: 2em;
}

li::marker {
    content: '*    ';
    font-size: 2.2em;
}


li:after{
    content: '*    ';
    font-size: 2.2em;
}