@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    margin-left: 500px;
}



.main img {
    width: auto;
    height: 300px;
    margin-left: 240px;
}

p {
    font-weight: bold;
    display: flex;
    justify-content: end;
}

th {
    width: 100px;
}

td {
    width: 320px;
    text-align: center;
}


.descriçao {
    width: 150px;
    background-color: black;
    display: block;
}

.opnion-1 {
    position: relative;
}

.opnion {
    position: absolute;
    margin: 350px 160px;
}

fieldset {
    width: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
    right: 400px;
    bottom: 505px;
}

.precos {
    background-color: aliceblue;
}

.preco-final {
    margin-right: 185px;
    font-size: 25px;
    background-color: orangered;
}