body{
 height: 2000px;
 background-color: rgb(149, 151, 151);
}

.container{
    width: 100%;
    background-color: rgb(78, 80, 216);
    position: fixed;
}

button{
    display: inline;
    margin-left: 1000px;
}

